<form method="post" action="/search">
    <input type="text" name="searchData">
    <input type="submit" value="serach">
</form>
<table border="1" width="70%">
    
    <% if(details.length > 0)
    {
        details.forEach(function(row){ %>

            <tr>
                <td> <%= row.name %> </td>
                <td> <%= row.gender %> </td>
                <td> <%= row.city %> </td>
                <td> <%= row.subject %> </td>
                <td> <img src="<%= row.img %>"></td>
                <td> <a href="/edit/<%= row._id %>">Edit</a> </td>
                <td> <a href="/delete/<%= row._id %>">Delete</a> </td>
            </tr>

       <% })
    } %>

    <tr>

    </tr>
</table>