<html>
    <body>
        <center>
            <form method="post" action="/edit">
                <input type="text" name="_id" hidden value="<%= details._id%>">
                Name : <input type="text" name="fname" value="<%= details.name %>"> <br><br>
                Gender : <input type="radio" name="gender" value="male" 
                <% if(details.gender == 'male') {%> checked="true" <% } %>  >Male
                        <input type="radio" name="gender" value="female"
                        <% if(details.gender == 'female') {%> checked="true" <% } %> >Female <br><br>
                City : <select name="city">
                    <option value="">Select City</option>
                    <option value="surat">Surat</option>
                    <option value="abad">Ahemdabad</option>
                    <option value="vadodara">Vadodara</option>
                    <option value="rajkot">Rajkot</option>
                    <option value="jamnager">Jamnager</option>
                </select>
                <br><br>

                Subject : 
                <input type="checkbox" name="subject" value="asp" 
                <% if(details.subject == 'asp') {%> checked="true" <% } %> > ASP
                <input type="checkbox" name="subject" value="node"
                <% if(details.subject == 'node') {%> checked="true" <% } %> >Node
                <br><br>

                Upload Profile Img :
                <input type="file" name="img">
                <br><br>

                <input type="submit" value="Edit">
            </form>
        </center>
    </body>
</html>