<html>
    <body>
    <center>
        <h3> Login Form</h3>
        <br><br><br><br>
    
        <form action="/jwtlogin" method="post">
        
            Email Id : <input type="email" name="email"> <br><br>
    
            Password : <input type="password" name="password"> <br><br>

            <input type="submit" name="Login">
        </form>
</center>
</body>
</html>