<html>
    <body>
        <center>
            <div class="container">
            <form method="post" action="/insert">
                Name : <input type="text" name="fname"> <br><br>
                Gender : <input type="radio" name="gender" value="male">Male
                        <input type="radio" name="gender" value="female">Female <br><br>
                City : <select name="city">
                    <option value="">Select City</option>
                    <option value="surat">Surat</option>
                    <option value="abad">Ahemdabad</option>
                    <option value="vadodara">Vadodara</option>
                    <option value="rajkot">Rajkot</option>
                    <option value="jamnager">Jamnager</option>
                </select>
                <br><br>

                Subject : 
                <input type="checkbox" name="subject" value="asp"> ASP
                <input type="checkbox" name="subject" value="node">Node
                <br><br>

                Upload Profile Img :
                <input type="file" name="img">
                <br><br>

                <input type="submit" value="Insert">
            </form>
        </center>
    </body>
</html>