<body>
    <h3>Insert New Student Record</h3>
    <form action="/add" method="post">
        
        Rno : <input type="number" name="rno"> <br><br>
        Name : <input type="text" name="name">      <br><br>   
        Department :<input type="text" name="dept"> <br><br>
        Sem : <input type="number" name="sem"> <br><br>
        Div :<input type="text" name="div"> <br><br>
        <input type="submit" value="Add">

        
        
    </form>
</body>