<html>
    <head>
        <title>Student Dashboard</title>
    </head>

    <body style="font-size: 30px;">
            <a href="/add" style="color: black; text-decoration: none;">Add new record</a>
        <table border="1" align="center" width="50%" style="font-size: 40px;"> 
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Dept</th>
                <th>Sem</th>
                <th>Div</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

             <tbody>
                 
                 <%if (details.length > 0){ %> 
                    <% details.forEach(function(row){ %>
                    <tr>
                      <td align="center"><%= row.rno %></td>
                      <td align="center"><%= row.name %></td>
                      <td align="center"><%= row.dept %></td>
                      <td align="center"><%= row.sem %></td>
                      <td align="center"><%= row.div %></td>
                      <td align="center"> <a href="/edit/<%= row._id %>">Edit</a> </td>
                      <td align="center"> <a href="/delete/<%= row._id %>">Delete</a> </td>
                    </tr>
                    <% }) }else{ %>
                      <tr>
                          <td colspan="5" style="color: red;" align="center">No Record Found</td>
                          
                        </tr>
                      <% } %> 
            </tbody> 
        </table>
        <a href="/logout" style="color: black; text-decoration: none;"> Logout</a>
    </body>
</html>