<body>
    <h3>Edit Student Record</h3>
    <form action="/edit" method="post">
            <input type="hidden" name="_id" value="<%= details._id %>">
         Rno : <input type="number" name="rno" value="<%= details.rno %>"> <br><br>
         Name : <input type="text" name="name" value="<%= details.name %>">      <br><br>   
        Department :<input type="text" name="dept" value="<%= details.dept %>"> <br><br>
        Sem : <input type="number" name="sem" value="<%= details.sem %>"> <br><br>
        Div :<input type="text" name="div" value="<%= details.div %>"> <br><br> 
        <input type="submit" value="Edit">  
  </form>
</body>