<html>
    <head>
        <title>Login Page</title>
    </head>
    <body style="font-size: 30px;">
        <form action = "/validate" method = "POST"  >

        Email Id : <input type="text" name="email"><br><br>
        Password : <input type="text" name="password"><br><br>
        <input type="submit" value="Login">
        </form>
    </body>
</html>